@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100%;
}
.layout {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  width: 1200px;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}



 
/* Кнопки */

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #83b3d3;
  border: none;
  outline: none;
  padding: 8px 20px;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;

  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  white-space: nowrap;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.button span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  white-space: nowrap;
  font-family: "PT Sans", serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.button:hover {
  background-color: #68a2ca;
}
.button:focus {
  background-color: #68a2ca;
}
.button:active {
  background-color: #68a2ca;
}
.button:active span {
  opacity: 0.3;
}
.button a {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  white-space: nowrap;
  font-family: "PT Sans", serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.button:active a {
  opacity: 0.3;
}
.search-hotels:hover {
  background-color: #615048;
}
.search-hotels:focus {
  background-color: #615048;
}
.search-hotels:active {
  background-color: #756157;
}
.search-hotels:active span {
  opacity: 0.3;
}
.button--brown {
  background-color: #756157;
  cursor: pointer;
}
.button--brown:hover {
  background-color: #615048;
}
.button--brown:focus {
  background-color: #615048;
}
.button--brown:active {
  background-color: #756157;
}

.button--green {
  background-color: green;
  cursor: pointer;
}
.button--green:hover {
  background-color: #6c9e42;
}
.button--green:focus {
  background-color: #6c9e42;
}
.button--green:active {
  background-color: #7db54f;
}
.button--green:active span {
  opacity: 0.3;
}
.button--lightgreen {
  background-color: #7db54f;
  cursor: pointer;
}
.button--lightgreen:hover {
  background-color: #6c9e42;
}
.button--lightgreen:focus {
  background-color: #6c9e42;
}
.button--lightgreen:active {
  background-color: #7db54f;
}
.button--lightgreen:active span {
  opacity: 0.3;
}

.button--gray {
  background-color: #f2f2f2;
  font-weight: normal;
  cursor: pointer;
}
.button--gray span {
  color: #333333;
  font-family: "PT Sans", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
.button--gray:hover {
  background-color: #f2f2f2;
}
.button--gray:focus {
  background-color: #f2f2f2;
}
.button--gray:active {
  background-color: #f2f2f2;
}
.button--gray:active span {
  opacity: 0.3;
}
.form-range__button--transparent {
  margin-top: 32px;
  background-color: transparent;
  width: 191px;
  height: 36px;
  border-color: transparent;
  font-family: "PT Sans", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  color: white;
}
.form-range__button--transparent:focus { 
  background-color: transparent; 
 outline: 3px solid #82b3d3; 
}
.form-range__button--transparent:hover {
  opacity: 0.6;
  background-color: transparent; 
}
.form-range__button--transparent:active {
  opacity: 0.3;
  background-color: transparent; 
}
.form-range__button--transparent:disabled {
  opacity: 0.1;
  cursor: default;
}
.filter-panel__select {
  border:2px solid #E5E5E5;  
}
.filter-panel__select:hover {
  border:2px solid #68A2CA;
}
.filter-panel__select:focus {
  border:2px solid #68A2CA;
  outline: none;
}
.filter-panel__select:active {
  border:2px solid #3F5E72;
}
.social-list__item:hover {
opacity: 1;
}
.social-list__item:focus {
  opacity: 1;
}
.social-list__item:active {
  opacity: 0.4;
}
.contacts-phone:hover {
color: #756157;
}
.contacts-phone:focus {
color: #756157;
}
.contacts-phone:active {
  color: #756157;
  opacity: 0.3;
}
.page-footer__logo-wrapper {
  display: flex;
  width: 138px;  
}
.page-footer__logo-wrapper:hover img {
  display: none;  
}
.page-footer__logo-wrapper:hover {  
  background-image: url("../images/logo-1-brown.svg");
  background-repeat: no-repeat;
  background-position-x: 23px;
  background-position-y: 13px;
}
.page-footer__logo-wrapper:focus {  
  background-image: url("../images/logo-1-brown.svg");
  background-repeat: no-repeat;
  background-position-x: 23px;
  background-position-y: 13px;
}
.page-footer__logo-wrapper:active {  
  background-image: url("../images/logo-1-brown.svg");
  background-repeat: no-repeat;
  background-position-x: 23px;
  background-position-y: 13px;
  opacity: 0.3;
}
.page-footer__logo:focus {
  color: #756157;
  
}
.page-footer__logo:active {
  color: #756157;
  opacity: 0.3;
}

.pagination__link:hover {
  background: #68A2CA;
}
.pagination__link:focus {
  background: #68A2CA;
}
.pagination__link:active {
opacity: 0.3;
}
.pagination__link--active:hover {
  background: #F2F2F2;
}
.pagination__link--active:focus {
  background: #F2F2F2;
}
.pagination__link--active:active {
  background: #F2F2F2;
}
.pagination__link--dotes:hover {
  background: #F2F2F2;
}
.pagination__link--dotes:focus {
  background: #F2F2F2;
}
.pagination__link--dotes:active {
  background: #F2F2F2;
}
.filter-panel__item:hover {
border: 2px solid black;
}
.filter-panel__item:focus {
border: 2px solid #68A2CA;
}
.filter-panel__item:active {
  border: 2px solid black;
}
/* Стили для header */

.page-header {
  display: flex;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
  height: 64px;
}

.logo {
  z-index: 1;
  width: 140px;
  height: 70px;
}

.logo__link {
  overflow: visible;
  display: flex;
  width: 100%;
  height: 100%;
}
.navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 507px;  
  z-index: 1;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  list-style: none;
}
.navigation__item {
  padding-left: 16px;
  padding-right: 16px;
  height: 64px;
  display: flex;
  align-items: center;
}
.navigation__item--search {
  display: flex;
  width: 44px;
  height: 64px;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}
.navigation__item--heart {
  display: flex;
  width: 44px;
  height: 64px;
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  background-size: 18px 17px;
  background-position: center;
  position: relative;
}
.navigation__item--heart::after {
  position: absolute;
  top: 11px;
  right: 4px;
  content: "12";
  width: 20px;
  height: 20px;
  background-color: #7db54f;
  border-radius: 50%;

  font-family: "PT Sans", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "PT Sans", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  height: 100%;
}
.navigation__link--active {
  position: relative;
}
.navigation__link--active::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #756257;
  bottom: 0;
}
.navigation--user {
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
  width: 180px;
  margin-left: auto;
  padding: 0;
  margin-right: 20px;
}
.navigation__button {
  width: 160px;
}

.page-main {
  overflow: hidden;
}
.subscription__form {
  display: flex;
  width: 100%;
  height: auto;
}
.subscription {
  width: 100%;
  height: 415px;
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #82b3d3;
}
.subscription--no-image {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  height: 415px;
  background-image: none;
  background-color: white;
}
.subscription--no-image h2 {
  color: #000000;
}
.subscription--no-image p {
  color: #000000;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.welcome-img {
  width: 100%;
  object-fit: cover;
}

.welcome-img1 {
  width: 100%;
  height: 485px;
  background-image: url("../images/welcome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: top;
  position: relative;
  background-color: #82b3d3;
}
.welcome-img1::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 57px;
  background-image: url("../images/vector-34.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.page-main-catalog__form-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  height: 412px;
  padding-top: 35px;
  padding-right: 70px;
  padding-bottom: 35px;
  padding-left: 70px;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #82b3d3;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages__item {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  display: flex;
}

.discription-element {  
  background-color: #82b3d3;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  padding: 93px 85px;
  width: 400px;
  height: 384px;
}
.discription-element__title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  padding-bottom: 61px;
}
.discription-element__title::before {
  position: absolute;
  content: "";
  top: 84px;
  left: 85px;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}
.discription-element__title--dash-black::before {
  background-color: rgba(0, 0, 0, 0.3);
}
.discription-element__description {
  font-family: "PT Sans", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: white;
  text-align: center;
  margin: 0;
}
.discription-element--light-blue {
  padding-top: 105px;
  background-color: rgba(131, 179, 211, 0.12);
}
.discription-element--third {
  padding-top: 105px;
}
.discription-element--third .discription-element__title::before {
  left: 26px;
}
.discription-element--fourth .discription-element__title::before {
  left: 27px;
}
.discription-element--fifth .discription-element__title::before {
  left: 55px;
  top: 85px;
}
.discription-element--six {
  padding-top: 80px;
}
.discription-element--six .discription-element__title {
  padding-bottom: 0;
  padding-top: 103px;
  margin-bottom: 30px;
}
.discription-element--six .discription-element__title::before {
  width: 75px;
  height: 72px;
  top: 0;
  left: 0;
  background-image: url("../images/home-index.svg");
  background-repeat: no-repeat;
}
.discription-element--seventh {
  padding-top: 80px;
}
.discription-element--seventh .discription-element__title {
  padding-bottom: 0;
  padding-top: 103px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 30px;
}
.discription-element--seventh .discription-element__title::before {
  width: 74px;
  height: 70px;
  top: 0;
  left: 35px;
  background-image: url("../images/burger-index.svg");
  background-repeat: no-repeat;
}
.discription-element--eighth {
  padding-top: 80px;
}
.discription-element--eighth .discription-element__title {
  padding-bottom: 0;
  padding-top: 103px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 29px;
}
.discription-element--eighth .discription-element__title::before {
  width: 64px;
  height: 76px;
  top: 0;
  left: 76px;
  background-image: url("../images/gift-index.svg");
  background-repeat: no-repeat;
}
.discription-element--shadow-blue {
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages__item--reverce .discription-element {
  order: 1;
}
.advantages__item--blue {
  background-color: #82b3d3;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.discription-element--white {
  background-color: white;
}

.advantages-img {
  display: flex;
  flex-grow: 1;
  object-fit: cover;
  background-color: #82b3d3;
}
.search-hotels {
  font-family: "PT Sans", serif;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  cursor: pointer;

  color: #ffffff;
  background-color: #756157;
  border-style: none;
  margin-top: 30px;
  width: 376px;
  height: 52px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}
.advantages__item--light-blue {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
  width: 400px;
  height: 384px;
  padding: 103px 85px;
}
.advantages__item--light-blue::before {
  position: absolute;
  content: "";
  top: 28px;
  left: 83px;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}
.advantages__top-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 69px;
  padding-bottom: 65px;
}
.advantages__bottom-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 94px;
  padding-bottom: 96px;
}

.advantages__title {
  /* background-color: white; */
  color: #000000;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
}
.advantages__title--big {
  margin-bottom: 21px;
}
.advantages__title--small {
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
  text-transform: none;
  width: 651px;
  text-align: center;
}
.advantages-title--blue {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.advantages__description--blue {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding-top: 60px;
  position: relative;
}
.advantages__description--blue::before {
  position: absolute;
  content: "";
  top: 28px;
  left: 83px;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}
.advantages-item--dark-blue {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.advantages-item--dark-blue::before {
  position: absolute;
  content: "";
  top: 28px;
  left: 83px;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages__description--black-small {
  color: #000000;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding-top: 41px;
}
.advantages-title--black {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: black;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  position: relative;
}
.advantages-title--black::before {
  position: absolute;
  content: "";
  top: 84px;
  left: 83px;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}
.advantages-title--black2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: black;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  position: relative;
}
.advantages__item--white {
  background-color: white;
}
.advantages__white {
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.subscription__title {
  display: flex;
  width: 100%;
  justify-content: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 95px;
}
.subscription__title--small {
  color: #ffffff;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: none;
  padding-top: 22px;
  margin-bottom: 52px;
}
.registration {
  margin: 0 auto;
  width: 684px;
  display: flex;
}
.registration__button {
  flex-grow: 1;
  
}
.registration__button span {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
    text-transform: uppercase;
}
.registration__input {
  background: #f2f2f2;
  width: 452px;
  height: 52px;
  border-radius: 4px 0px 0px 4px;
  border: none;
  padding-left: 20px;
  padding-top: 5px;
}
.registration__input::placeholder {
  font-family: "PT Sans", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.social {
  color: #000000;
}
.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.advantages__black {
  color: #000000;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.advantages__black--small {
  color: #000000;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: none;
}
.product-card__button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 142px;
}
.product-card__button--text {
  padding-top: 9px;
}
.product-card__button--favourites {
  background-color: #82b3d3;
}
.product-card__button--favourit {
  background-color: #7db54f;
}

/* стили для формы каталога */

/* Подвал */
.page-footer {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
}
.page-footer__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50px;
}
.page-footer__social-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list {
  width: 142px;
}
.social-list__item {
  display: flex;
  width: 48px;
  height: 100%;
  opacity: 0.7;
}
.social-list__link {
  display: flex;
  width: 100%;
  height: 100%;
}
.social-list__link--vk {
  background-image: url("../images/icon-1.svg");
  background-repeat: no-repeat;
  background-position-x: 11px;
  background-position-y: 22px;
}
.social-list__link--telegram {
  background-image: url("../images/icon-2.svg");
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 21px;
}
.social-list__link--you-tube {
  background-image: url("../images/icon-3.svg");
  background-repeat: no-repeat;
  background-position-x: 12px;
  background-position-y: 21px;
}
.contacts-phone {
  padding-left: 24px;
  padding-top: 10px;
}
.page-footer__logo {
  padding-left: 23px;
  padding-bottom: 3px;
}
.text-black {
  color: #000000;
}

/* Каталог */

.page-main-catalog__title {
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
  font-family: "PT Sans", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}
.breadcrumb__item--hotels {
  color: white;
}
.page-main-catalog__breadcrumb {
  position: relative;
  display: flex;
  width: 100%;
  list-style: none;  
  margin: 0;
  margin-bottom: 39px;
  padding: 0;  
  list-style: none;
}
.page-main-catalog__form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.page-main-catalog__form-infrastructure {
  width: 220px;
}
.infrastructure {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
.infrastructure__list {
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  list-style: none;
  margin: 0;
  padding: 0;
}
.breadcrumb__item--home::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 0px;
  width: 13px;
  height: 15px;
  background-image: url("../images/home.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.breadcrumb__item--home::after {
  position: absolute;
  content: "";
  top: 8px;
  left: 23px;
  width: 6px;
  height: 10px;
  background-image: url("../images/vector-35.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.infrastructure__title {
  font-family: "PT Sans", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.infrastructure__item {
  margin-bottom: 16px;
}
.page-main-catalog__form-infrastructure {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.breadcrumb__item--hotels {
  padding-left: 41.5px;
}
.input-ckeckbox {
  cursor: pointer;
}
.input-ckeckbox__input {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;  
}
.input-ckeckbox__input:focus + span {
  border: 3px solid #83B3D3;  
}

.input-ckeckbox__label {
  position: relative;
  display: block;
  padding-left: 35px;
  cursor: pointer;
}
.input-ckeckbox__label:hover {
  opacity: 0.6;
}
.input-ckeckbox__label:active {
  opacity: 0.3;
}
.input-checkbox__span-1 {
  background-color: white;
  position: absolute;
  top: 2px;
  left: 0px;
  width: 20px;
  height: 20px;
  border-radius: 4px;  
}
.input-checkbox__span-1:focus {
  border: 3px solid #83B3D3;

}
.input-ckeckbox__input[type="checkbox"]:checked
  + .input-checkbox__span-1::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;

  background-image: url("../images/vector-36.svg");
  background-repeat: no-repeat;
  background-size: 12px 10px;
  background-position: center;
}
.input-ckeckbox__input[type="checkbox"]:hover
  + .input-checkbox__span-1::before {
  opacity: 0.6;
}
.input-ckeckbox__input[type="checkbox"]:focus
  + .input-checkbox__span-1::before {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.input-radio__input {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.input-radio__label {
  position: relative;
  display: block;
  padding-left: 35px;
  cursor: pointer;
}
.input-radio__label:hover {
  opacity: 0.6;
} 
.input-radio__label:active{
  opacity: 0.1;
}
.input-radio__span-1 {
  background-color: white;
  position: absolute;
  top: 2px;
  left: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.input-radio__input[type="radio"]:checked + .input-radio__span-1::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 4px solid white;
  border-radius: 50%;
  box-sizing: border-box;
  background-image: url("../images/vector-37.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
}
.input-radio__input[type="radio"]:checked:focus + .input-radio__span-1::before {
  outline: 3px solid #83B3D3;
  border-radius: 50%;
}
.page-main-catalog__form-range {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 550px;
  margin-left: auto;
}
.form-range__title {
  display: flex;
  width: 100%;
  margin-bottom: 32px;
  font-family: "PT Sans", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: white;
}

.form-range__inputs-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 290px;
  justify-content: space-between;

}
.form-range__input-wrapper {  
  position: relative;
  width: 143px;
  display: flex;
}
.form-range__input-wrapper::before {
  position:absolute;
  content: "от";
  color: #000000;
  right: 20px;
  top: 14px;
font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
opacity: 0.6;
}
.form-range__input-wrapper--second::before {
  position:absolute;
  content: "до";
  color: #000000;
  right: 20px;
  top: 14px;
  font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
opacity: 0.6;
}
.form-range__input-wrapper-2 {
  position: relative;
  display: flex;
  width: 100%;
}
.form-range__input-wrapper-2::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: white;
}
.form-range__input {
  width: 100%;
  height: 50px;
  padding-left: 18px;
  font-family: "PT Sans", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border: none;
  outline: none;
  background: #F2F2F2;
border-radius: 4px 0px 0px 4px;
}
.form-range__input:hover {
background-color: #E6E6E6;
}
.form-range__input:focus {
  background-color: #E6E6E6;
outline: 3px solid #83B3D3;
}
.form-range__input:active {
border: 3px solid #000000;
outline: none;
}
.form-range__input--second {
  border-radius: 0px 4px 4px 0px;
}
.form-range__input-wrappers::before {
  position: absolute;
  bottom: -1px;
  left: 1px;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: white;
}



.form-range__input--range {
  background-color: grey;
  background-image: linear-gradient(white, white);
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background-size: 75% 100%;
  background-repeat: no-repeat;
  margin-top: 38px;
}

.form-range__input--range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  background: white;
  cursor: ew-resize;
}

.form-range__input--range::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
.form-range__buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 191px;
  margin-left: auto;
}
.form-range__button {
  width: 100%;
  cursor: pointer;
}
.form-range__button--blue {
  background-color: #82b3d3;
  color: white;
  width: 191px;
  height: 36px;
  border-color: transparent;
  font-family: "PT Sans", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
}
.page-main-catalog__filter-panel {
  display: flex;
  align-items: center;
}
.filter-panel {
  display: flex;
  align-content: center;
  padding-top: 10px;
  height: 138px;
  padding-left: 70px;
  padding-right: 70px;
}
.filter-panel__list {
  display: flex;
  justify-content: space-between;
  width: 160px;
  height: 100%;  
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}
.filter-panel__item {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  background-image: url("../images/vector-41.svg");
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
  cursor: pointer;
}

.filter-panel__item--second {
  background-image: url("../images/vector-42.svg");
}
.filter-panel__item--third {
  background-image: url("../images/vector-43.svg");
}
.filter-panel__title {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  font-family: "PT Sans", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  white-space: nowrap;
}
.filter-panel__select {
  margin-left: 200px;
  width: 292px;
  height: 100%;
  font-family: "PT Sans", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding-left: 16px;
  appearance: none;
  background: url("../images/vector-44.svg") no-repeat right;
  background-position-x: calc(100% - 20px);
  background-position-y: calc(100% - 17px);
}
.filter-panel__option {
}
.filter-panel__inner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 49px;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 68px;
  padding-right: 68px;
  list-style: none;
}
.product-card {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  width: 345px;
  padding: 20px;
  margin-bottom: 20px;
}
.product-card__image {
  width: 100%;
  height: 212px;
  margin-bottom: 10px;
  background-color: #82b3d3;
}
.product-card__image2 {
  width: 100%;
  height: 212px;
  margin-bottom: 11px;
  background-color: #82b3d3;
}
.product-card__title {
  font-family: "PT Sans", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  margin-bottom: 16px;
}
.product-card__link {
  text-decoration: none;
}
.product-card__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}
.product-card__buttons-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}
.rating-area {
  display: flex;
  justify-content: space-between;
}
.product-card__price-text {
  font-family: "PT Sans", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.product-card__rating-area {
  width: 100%;
}
.rating-area__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.rating-area__item {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  background-image: url("../images/vector-39.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.line {
  position: relative;
  display: flex;
  width: 100%;
  height: 60px;

}
.line::before {
  position: absolute;
  content: "";
  width: 1060px;
  height: 1px;
  background-color: #e6e6e6;
  top: 20px;
  left: 70px;
}
.pagination {
  display: flex;
  margin-bottom: 60px;
}
.pagination__list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 70px;
  list-style: none;
}
.pagination__item {
  border-radius: 4px;
  background-color: #82b3d3;
  display: flex;
  width: 60px;
  height: 60px;
  margin-right: 8px;
}
.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  font-family: "PT Sans", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: white;
  border-radius: 4px;
}
.pagination__item--active {
  background-color: #f2f2f2;
}
.pagination__item--active .pagination__link {
  color: #000000;
}
.pagination__item--dotes {
  background-color: white;
}
.pagination__item--dotes .pagination__link {
  color: #000000;
}

/* popup */



.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
}

.modal-auth {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  top: 60px;
  right: 49px;
  width: 60px;
  height: 60px;
  background-color: #F2F2F2;
  border-radius: 50%;
  border: none;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  border: 3px solid #83B3D3;
}

.modal-close-button:active {
  opacity: 0.6;
}

.modal-content {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.modal-title {
  display: flex;
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.auth-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.arrival-date-date {
  display: flex;
  flex-wrap: wrap;
}

.auth-form .field-group {
  margin: 0;
}

.modal-form-date {
  display: flex;
  align-items: center;
  width: 100%;
    height: 48px;
}


.form-label {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  margin-right: 20px;
}

.arrival-date-field {
  display: flex;
  flex-grow: 1;
  height: 100%;
  padding: 12px 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #f2f2f2;
  color: #000000;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-image: url("../images/calendar.svg");
  background-repeat: no-repeat;
  background-position: center right 22px;
}

.arrival-date-field:hover {
  color: #000000;
  opacity: 0.6;
}

.arrival-date-field:focus {
  color: #000000;
  opacity: 0.6;
  outline: 3px solid #83b3d3;
}

.arrival-date-lower {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ff5757;
  padding-left: 157px;
  margin: 0;
  margin-bottom: 0;
  padding-bottom: 26px;
}

.departure-date-date {
  display: flex;
  flex-wrap: wrap;
}

.form-label-1 {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  margin-right: 14px;
}

.departure-date-field {
  display: flex;
  flex-grow: 1;
  height: 100%;
  padding: 12px 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #f2f2f2;
  color: #000000;
  border-radius: 4px;
  border: none;
  background-image: url("../images/calendar.svg");
  background-repeat: no-repeat;
  background-position: center right 22px;
}

.departure-date-field:hover {
  color: #000000;
  opacity: 0.6;
}

.departure-date-field:focus {
  color: #000000;
  opacity: 0.6;
  outline: 3px solid #83b3d3;
}

.departure-date-lower {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  padding-left: 157px;
  margin: 0;
  margin-bottom: 0;
  padding-bottom: 26px;
}

.adults-date {
  display: flex;
  justify-content: space-between;
  width: 247px;
  height: 48px;
}

.form-label-2 {
  display: flex;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.arrival-count-wrapper {
  display: flex;
}


.field-button {
  text-align: center;
  background-color: #f2f2f2;
  border: none;
  width: 30px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.button-minus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  border: none;
  background-image: url("../images/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 4px 0 0 4px;
}

.button-minus:hover {
  background-image: url("../images/minus-hover.svg");
}

.button-minus:focus {
  background-image: url("../images/minus-focus.svg");
}

.button-minus:active {
  background-image: url("../images/minus.svg");
}

.button-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  border: none;
  background-image: url("../images/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

.button-plus:hover {
  background-image: url("../images/plus-hover.svg");
}

.button-plus:focus {
  background-image: url("../images/plus-focus.svg");
}

.button-plus:active {
  background-image: url("../images/plus.svg");
}

.field-button::-webkit-outer-spin-button,
.field-button::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.modal-submit {
  padding: 18px 256px;
  margin: 0;
  margin-top: 47px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.tooltip {
  position: absolute;
  margin-top: 4px;
  margin-left: 62px;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #82b3d3;
  display: block;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding: 18px 18px 18px 22px;
  border-radius: 10px;
  width: 218px;
  min-height: 105px;
  position: absolute;
  top: 100%;
  margin-top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.form-label-icon {
  position: relative;
  padding-right: 16px;
}

.tooltip-text::after {
  content: "";
  background-image: url("../images/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.hidden {
  display: none;
} 
